<% if @article.errors.any? %>
    <h2>You have the following error(s):</h2>
    <% @article.errors.full_messages.each do | error | %>
        <ul>
            <li><%= error %></li>
        </ul>
    <% end %>
<% end %>

<%= form_with(model: @article, local: true)  do | form | %>
    <div>
        <%= form.label :title %><br/> 
        <%= form.text_field :title %>
    </div>
    
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>

<p>
    <%= link_to "Back", articles_path %>
</p>